{{ $href := .href }}
{{ $target := .target | default "_blank" }}
{{ $iconName := .icon }}
{{ $text := .text }}

<a
 class="!rounded-md bg-primary-600 px-4 py-2 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
 href="{{ $href | safeURL }}"
 target="{{ $target }}"
 role="button">
 {{ if $iconName }}
   {{ $icon := resources.Get (printf "icons/%s.svg" $iconName) }}
   {{ if $icon }}
     <span class="relative mr-1 inline-block align-text-bottom icon">
     {{ strings.Replace $icon.Content "\n" "" | safeHTML }}
     </span>
   {{ end }}
 {{ end }}
 {{ $text | safeHTML }}
</a>
